
Movementor-fitness.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
Movementor-fitness.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
Movementor-fitness.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
Movementor-fitness.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
